<form class="text-center" [formGroup]="modelForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <!-- First name -->
        <label for="name">Nume:</label>
        <input type="text" formControlName="name" id="name" class="form-control" placeholder="Name">
        <div *ngIf="checkInput(f.name)">
            <small class="text-danger" *ngIf="f.name.errors.required">Numele este obligatoriu</small>
        </div>

    </div>
    <div class="form-group">
        <!-- Last name -->
        <label for="brandCode">Generatie:</label>
        <input type="text" formControlName="generation" id="generation" class="form-control" placeholder="Generation">
        <div *ngIf="checkInput(f.generation)">
            <small class="text-danger" *ngIf="f.generation.errors.required">Generatia este obligatorie</small>
        </div>
    </div>

    <div class="form-group">
        <!-- Last name -->
        <label for="launchYear">An lansare:</label>
        <input type="number" formControlName="launchYear" id="launchYear" class="form-control"
            placeholder="Launch year">
        <div *ngIf="checkInput(f.launchYear)">
            <small class="text-danger" *ngIf="f.launchYear.errors.min">Anul minim poate fi 1955</small>
            <small class="text-danger" *ngIf="f.launchYear.errors.max">Anul maxim poate fi 2021</small>
        </div>
        <div *ngIf="f.launchYear.value > f.finalYear.value && (f.finalYear.touched || f.finalYear.dirty)">
            <small class="text-danger">Anul de lansare trebuie sa fie mai mic decat anul final</small>
        </div>
    </div>

    <div class="form-group">
        <!-- Last name -->
        <label for="finalYear">Final Year:</label>
        <input type="number" formControlName="finalYear" id="finalYear" class="form-control" placeholder="Final Year">
        <div *ngIf="checkInput(f.finalYear)">
            <small class="text-danger" *ngIf="f.finalYear.errors.min">Anul minim poate fi 1955</small>
            <small class="text-danger" *ngIf="f.finalYear.errors.max">Anul maxim poate fi 2021</small>
        </div>
    </div>

    <button mdbBtn color="info" block="true" class="my-4" type="submit"
        *ngIf="modelService.selectedModel != null">Actualizeaza</button>
    <button mdbBtn color="info" block="true" class="my-4" type="submit"
        *ngIf="modelService.selectedModel == null">Creeaza</button>
    <button mdbBtn color="warning" block="true" class="my-4" type="button" (click)="reinitForms(true)">Sterge</button>

</form>